<% @page_title='Notes|Results' %>
<table style="margin-left:25%; text-align:center;font-size:16px;">
	<tr>
		<td style="padding-right:100px;">Notes</td>
		<td>Results</td>
	</tr>
	<tr>
		<td style="padding-right:100px;">
			<%= link_to image_tag("viewnotes.jpg"), :controller=>'notes',:action=>'index'%>
		<br />
			
		</td>
		<td>
			<%= link_to image_tag("viewresults.jpg"), :controller=>'results',:action=>'index'%>
		<br />
			
		</td>
	</tr>
</table>