
  <div class="field">
    <tr><td>
      <%= f.label :subject_name %>
      <%= f.text_field :subjectname %>
    </td></tr>
  </div>
  <div class="field">
    <tr><td>
      <%= f.label :subject_level %>
       <%= f.select(:subjectlevel, @caricullums.collect {|r| [r.caricullumname]}, {:include_blank=>"--- select level ---"}) %>
    </td></tr>
  </div>
  
