<% @page_title = "Schools|edit" %>
<h3>Editing school</h3>

<%= render 'form' %>

<%= link_to 'Show', {:action=>'show', :id=>@school.id},  :class=>"btn-link"  %> |
<%= link_to 'Back', schools_path,  :class=>"btn-link"  %>
