
<div class="field">
    <tr><td>
      <%= f.label :caricullum_name %></td><td>
      <%= f.text_field :caricullumname %>
    </td></tr>
  </div>
  <div class="field">
    <tr><td>
      <%= f.label :description %></td><td>
      <%= f.text_area(:description, :rows=>6) %>
    </td></tr>
  </div>
